<div class="mh3">
	
	<h1>Your eBook Products</h1>
	<p>Create one or more ebook-products and use the shortcode <code>[:ebookproduct id="yourproductid":]</code> to integrate a product box into a page.</p>
	<div id="ebookproducts">
		<p>Here we can add our vue component</p>
	</div>

</div>